body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#Card {
  display: table-column;
  justify-items: initial;
  align-items: center;
  width: 80ch;
  padding: 50px;
  border: 2px black solid;
  border-radius: 20px;
}
#CardMiddle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 50px;
  padding: 50px;
  color: white;
  background-color: black;
  border-radius: 30px;
  font-style: normal;
}
#CardBottom {
  display: flex;
  padding: 10px;
  font-size: large;
}
#CardTop {
  font-size: larger;
  display: flex;
  padding: 10px;
}
#tabs {
  display: flex;
  justify-content: initial;
  align-items: center;
  padding: 10px;
  gap: 14px;
}
button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: large;
  color: gray;
}
button:hover {
  border-bottom: 2px solid black;
  color: black;
}

.content {
  display: none;
}

.content.active {
  display: block;
}
